.splashContainer {
  font-family: 'Mochiy Pop One', sans-serif;

  /* 画面全体を覆い、固定する */
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-color: #f7f7f7;
  color: #4d4d4d;
  z-index: 9999; /* 要素の上に表示 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: opacity 0.3s; /* フェードアウト用 */
}

/* 上方向にスライド */
.slideUpByScroll {
  animation: slideUp 0.8s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.title {
  font-size: 5em;
  letter-spacing: 0.2em;
}

.action {
  margin-top: 20px;
  font-size: 1.2em;
}

/* --- モバイル対応（メディアクエリ）--- */
@media (max-width: 768px) {
  .splashContainer {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2em;
    letter-spacing: 0.2em;
  }

  .action {
    margin-top: 10px;
    font-size: 1em;
  }
}
