.splashContainer {
  font-family: 'Mochiy Pop One', sans-serif;

  /* 画面全体を覆い、固定する */
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-color: #f7f7f7;
  color: #4d4d4d;
  z-index: 9999; /* 要素の上に表示 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: opacity 0.3s; /* フェードアウト用 */
}

/* 上方向にスライド */
.slideUpByScroll {
  animation: slideUp 0.8s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.title {
  display: flex;
  font-size: 5em;
  letter-spacing: 0.2em;
}

.animationChar {
  /* 文字の間隔 */
  margin: 0 0.1rem;

  /* アニメーション設定 */
  display: inline-block;
  transition: transform 0.1s ease-out; /* ホバー開始時に素早く反応させる */
}

.animationChar:hover {
  /* ポヨンと上に跳ねるアニメーション */
  animation: bounce 0.5s ease-out forwards;
}

/* ポヨンポヨンと跳ねるキーフレームアニメーション */
@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  30% {
    /* 上に大きく跳ねる */
    transform: translateY(-15px) scale(1.1);
  }
  60% {
    /* 少し下に落ちる（重力感） */
    transform: translateY(-5px) scale(1.05);
  }
  100% {
    /* 元の位置に戻る */
    transform: translateY(0) scale(1);
  }
}

.action {
  margin-top: 20px;
  font-size: 1.2em;
}

.ScrollImg {
  width: auto;
  height: auto;
  padding-block-start: 2rem;

  animation: scrollBounce 1.5s infinite ease-in-out;
}

/* 矢印を上下に動かすキーフレームアニメーション */
@keyframes scrollBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* --- モバイル対応（メディアクエリ）--- */
@media (max-width: 768px) {
  .splashContainer {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2em;
    /* letter-spacing: 0.2em; */
  }

  .animationChar {
    margin: 0 0.05rem;
  }

  .action {
    margin-top: 10px;
    font-size: 1em;
  }

  .ScrollImg {
    width: 40px;
    height: 80px;

    padding-block-start: 1rem;
  }
}
